doctype html
html
  head
    title Mini Application
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href='#') Mini Application
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-md-0
            li.nav-item.active
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/articles/add') Add article
            li.nav-item.dropdown
              a#dropdown01.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false') ドロップダウン
              ul.dropdown-menu(aria-labelledby='dropdown01')
                li
                  a.dropdown-item(href='#') アクション
                li
                  a.dropdown-item(href='#') その他のアクション
                li
                  a.dropdown-item(href='#') その他
          form.d-flex
            input.form-control.me-2(type='search' placeholder='検索' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search
    .container
      block content
      br
      hr
      footer
        p Copyright &copy; 2021
        
      script(src='/bower_components/jquery/dist/jquery.js')  
      script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
      script(src='/js/main.js')  
